[defaults]
# Inventory file path (relative or absolute)
inventory = inventory

# Default SSH user
remote_user = jdasalla

#Path to your private SSH key

# Disable host key checking (optional, useful in labs)
host_key_checking = False

# Prevent creation of .retry files
retry_files_enabled = False

# Set default module language output
stdout_callback = yaml

# Control how many hosts run in parallel
forks = 10

# Enable/disable colored output
nocows = 1

